name: FOSSA
on: push

jobs:
  analyze:
    runs-on: ubuntu-latest
    env:
      FOSSA_API_KEY: ${{ secrets.FOSSA_API_KEY }}
    steps:
      - uses: actions/checkout@v6
      - run: curl https://raw.githubusercontent.com/fossas/fossa-cli/master/install-latest.sh | bash
      - run: fossa analyze
      - run: fossa test
